<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEfVoYXRFaPmVZVnmJIIqOCP-p3IayA_c</string>
	<key>GCM_SENDER_ID</key>
	<string>714776837231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.votesApp</string>
	<key>PROJECT_ID</key>
	<string>buildathon-e084f</string>
	<key>STORAGE_BUCKET</key>
	<string>buildathon-e084f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714776837231:ios:caa641f3c114c2d8ba619a</string>
	<key>DATABASE_URL</key>
	<string>https://buildathon-e084f-default-rtdb.firebaseio.com</string>
</dict>
</plist>